/* Created by: Ain Jeong
* Created on: May 2025
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.page-content-answer {
  color: rgb(55 25 1);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  float: left;
  padding-left: 20pt;
  padding-top: 10pt;
  padding-bottom: 30pt;
}

img {
  height: auto;
  width: 500px;
  float: left;
}

body {
  background-color: rgb(249 236 213);
}
